# Python's cache:
__pycache__/

# training and validation sets' cache:
/source/cache/

# competition examples and dataset folder:
/tensorflow-great-barrier-reef/

# credentials for my Kaggle account:
/kaggle/kaggle.json

# dataset paper:
/The CSIRO Crown-of-Thorn Starfish Detection Dataset.pdf

# YOLOv3 paper:
/YOLOv3 - An Incremental Improvement.pdf
