# Python's cache:
__pycache__/

# training and validation sets' cache:
/source/cache/

# competition examples and dataset folder:
/tensorflow-great-barrier-reef/

# credentials for my Kaggle account:
/kaggle/kaggle.json

# papers:
/papers/
